body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, rgb(92, 92, 207), lightgrey);
}
header {
    text-align: center;
    padding: 20px;
}
#Morros-pic {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
nav {
    margin-top: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: blue;
}
.menu-item {
    border: 1px solid #000000;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
   width:100%;
   height:auto;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f400;
}

h2{
    text-align: center;
}
#dish1{
    background: rgba(255, 0, 0, 0.233);
}
#dish2{
    background: rgba(255, 136, 0, 0.205);
}
#dish3{
    background: rgba(255, 174, 0, 0.205);
}

#Morros-pic{
    width: 20%;
    max-height: 400px;
    object-fit: cover;
}